@page
@model WebApp.Pages.GlobalView
@{
}

<h1>Przeglądanie globalnych przypadków zachorowań</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Potwierdzone przypadki")
            </th>
            <th>
                @Html.DisplayName("Data")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.GlobalDataBase)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalConfirmed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateDataBase)
                </td>

            </tr>
        }
    </tbody>
</table>
